<h1 align="center">Sign in Bonsho</h1>

<div class='form'>
  <div class='wrapper'>
    <%= form_for(@user, :html => {class: "form-horizontal", role: "form", url: user_session_path, method: :post}) do |f| %>
      <div class="form-group email">
        <%= f.label :email %>
        <%= "<span class='error-msg'>#{@user.errors[:email].first}</span>".html_safe unless @user.errors[:email].empty? %>
        <%= f.email_field :email, onkeyup: "check('.email')", class: "#{'failed' unless @user.errors[:email].empty?}", autocomplete: "off" %>
      </div>
      <div class="form-group password">
        <%= f.label :password %>
        <%= "<span class='error-msg'>#{@user.errors[:password].first}</span>".html_safe unless @user.errors[:password].empty? %>
        <%= f.password_field :password, onkeyup: "check('.password')", class: "#{'failed' unless @user.errors[:password].empty?}", autocomplete: "off" %>
      </div>
      <div class="form-group check-box">
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      </div>
      <%= submit_tag "Log in", class: 'btn btn-primary btn-lg form-submit' %>
    <% end %>

    <%= link_to "Don't have profile? Sign up", new_user_registration_path, class: 'back' %>
    <%= link_to "Back home", root_path, class: 'back' %>
  </div>
</div>
