<h1 align="center">Signup for Bonsho</h1>

<%= render 'shared/errors', obj: @user %>

<div class='form'>
  <div class='wrapper'>
    <%= form_for(@user, :html => {class: "form-horizontal", role: "form", url: user_registration_path, method: :post}) do |f| %>
      <div class="form-group username">
        <%= f.label :username %>
        <%= f.text_field :username, autofocus: true, onkeyup: "check('.username')" %>
      </div>
      <div class="form-group email">
        <%= f.label :email %>
        <%= f.email_field :email, onkeyup: "check('.email')" %>
      </div>
      <div class="form-group firstname">
        <%= f.label :firstname %>
        <%= f.text_field :firstname, onkeyup: "check('.firstname')" %>
      </div>
      <div class="form-group lastname">
        <%= f.label :lastname %>
        <%= f.text_field :lastname, onkeyup: "check('.lastname')" %>
      </div>
      <div class="form-group password">
        <%= f.label :password %>
        <%= f.password_field :password, onkeyup: "check('.password')" %>
      </div>
      <div class="form-group password-confirmation">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, onkeyup: "check('.password-confirmation')" %>
      </div>
      <%= submit_tag "Sign up", class: 'btn btn-primary btn-lg form-submit' %>
    <% end %>

    <%= link_to "Back to alerts listing", alerts_path, class: 'back' %>
  </div>
</div>
