<div class='container'>
  <div class='profile'>
    <div class='wrapper'>
      <div class='alerts'>
        <h1>Last Alerts</h1>
        <% @alerts.each do |alert| %>
          <div class='alert'>
            <h3><%= alert.title %></h3>
            <p><%= alert.issue.first(100) %>...<%= link_to 'read more', alert_path(id: alert.title.downcase.gsub(' ', '-')) %></p>
          </div>
        <% end %>
      </div>
      <div class='products'>
        <h1>Followed Products</h1>
        <% @products.each do |product| %>
          <div class='product'>
            <h3><%= product.name %></h3>
            <p><%= product.description.first(100) %>...<%= link_to 'read more', product_path(id: product.name.downcase.gsub(' ', '-')) %></p>
          </div>
        <% end %>
      </div>
    </div>

    <div class='info'>
      <h1>Profile info</h1>
      <table>
        <tbody>
          <tr>
            <td>First Name:</td>
            <td><%= @user.firstname %></td>
          </tr>
          <tr>
            <td>Last Name:</td>
            <td><%= @user.lastname %></td>
          </tr>
          <tr>
            <td>Username:</td>
            <td><%= @user.username %></td>
          </tr>
          <tr>
            <td>Email:</td>
            <td><%= @user.email %></td>
          </tr>
          <tr>
            <td>Current IP:</td>
            <td><%= @user.current_sign_in_ip %></td>
          </tr>
      </table>
      <h1 class='tags'>Tags list</h1>
      <ul>
        <% @tags.each do |tag| %>
          <li><%= tag.name %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
