<div class='page-wrapper'>
  <div class='subscribe-content'>
    <div class='tag-list'>
      <h1>Follow Via Tag</h1>
      <ul>
        <% @tags.each do |tag| %>
          <li class='tag-item <%= 'in' if check(tag) %>' data-id=<%= tag.id %>>
            <h3><%= tag.name %></h3>
          </li>
        <% end %>
      </ul>
    </div>
    <div class='product-list'>
      <h1>Follow Via Product</h1>
      <% @products.each do |product| %>
        <div class='product-item' data-id=<%= product.id %>>
          <h3><%= product.name %></h3>
          <p><%= product.description %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
<script>
  $('.tag-item').click(function(e){
    let id = $(this).data('id');
    $.ajax({
      url: '/follow-to-tag',
      dataType:'json',
      method: 'post',
      data: {id: id}
    }).done(function(data){
      if (data['add']) {
        $('.tag-item[data-id="'+String(id)+'"]').addClass('in');
      }
      else {
        $('.tag-item[data-id="'+String(id)+'"]').removeClass('in');
      }
    })
  })
</script>
