<h1>Showing selected alert</h1>

<p>
    Title: <%= @alert.title %>
</p>

<p>
    Issue: <%= @alert.issue %>
</p>

<p>
    Action: <%= @alert.action %>
</p>

<p>
    Source: <%= @alert.source %>
</p>

<p>
    Created: <%= @alert.created_at %>
</p>
<%= link_to 'Edit this alert', edit_alert_path(@alert) %> |
<%= link_to "Back to alerts listing", alerts_path %>
