<div class="alert show">
  <div class='content'>
    <h1 align="center"><%= @alert.title %></h1>
    <ul>
      <% @alert.tags.each do |tag| %>
        <li><%= tag.name %></li>
      <% end %>
    </ul>
    <p class='issue'><%= @alert.issue %></p>
    <p class='action'><%= @alert.action %></p>
    <p class='source'>Source: <%= link_to @alert.source, @alert.source %></p>
    <p class='date'><%= @alert.created_at.strftime('%Y-%m-%d %H:%M') %></p>

    <% if current_user.admin %>
      <%= link_to "Edit this alert", edit_alert_path(@alert) %> |
    <% end %>
    <%= link_to "Go to subscribing page", '/subscribe' %> |
    <%= link_to "Back to alerts listing", (current_user.admin ? alerts_path : '/alerts-listing') %>
  </div>
</div>
