var html_str = "<div class='tag-item'><h4><%= @new_tag.name %></h4><span><%= '????' %> products subscribes</span>"+
               "<span><%= '????' %> alerts subscribes</span><span><%= '????' %> users subscribes</span>"+
               "<a href=<%= edit_tag_path(@new_tag.id) %> data-remote='true'>Edit</a><a href=<%= tag_path(@new_tag.id) %>"+
               " data-confirm='Are you sure?' rel='nofollow' data-method='delete'>Delete</a></div>";
$('.tags-list').append(html_str);
$('.tag-name').val('');
setTimeout(function(){
  $('.tag-creator .form-submit').attr('disabled', 'disabled');
}, 500)
$('.tag-creator').addClass('out');
