<% if @product.errors.any? %>
<h2>The following errors prevented the user from being created</h2>
<ul>
    <% @product.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
</ul>
<% end %>

<%= form_for @product do |f| %>
<p>
    <%= f.label :title %><br/>
    <%= f.text_field :title %>
</p>
<!--p>
    <!--%= f.label :status %>
    <!--%= f.check_box :status, :'data-toggle'=>"toggle" %>
</p-->
<p>
    <%= f.submit %>
</p>
<% end %>